.trainingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  height: 100vh;
  padding: 5vh 0;

  label {
    display: flex;
    flex-direction: column;
  }
}

.save-button {
  font-size: 1em;
  border: none;
  box-shadow: none;
  background-color: transparent;
  align-self: flex-end;
  margin-top: 0;
  padding-top: 0;
}
