.trainingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  min-height: 100vh;
  padding: 5vh 0;

  label {
    display: flex;
    flex-direction: column;
  }

  input::placeholder {
    color: black;
  }

  textarea::placeholder {
    color: black;
  }
}

#save-label {
  font-size: 1em;
  font-weight: 700;
  border: none;
  box-shadow: none;
  background-color: transparent;
  align-self: flex-end;
}

.save-template {
  display: flex;
  width: 90vw;
  justify-content: flex-end;
  align-items: center;
}

#save-button {
  width: 2em;
  margin: 0;
}

#use-template {
  margin-bottom: 2em;
  padding: 5px;
  width: 50vw;
  text-align: center;
  border-color: var(--template-dark);
}
