.name-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 70px;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

.welcoming-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  text-align: center;
  gap: 20px;
}

.name-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-button {
  width: 40vw;
  background-color: var(--main);
  color: white;
  margin: 0 10px;
}

.name-question-number {
  position: absolute;
  bottom: -30px;
  right: 10px;
}

@media (max-width: 1024px) {
  .next-button {
    width: 70vw;
  }
}
