@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:root {
  --font: "Yaldevi", sans serif;
  --dark: #0d1117;
  --light: #f9f6f6;
  --main: #f45f22;
  --second: #66d9e0;
  --third: #91e1a6;
  --grey: #c3c3c3;
}

h1,
h2,
h3,
p,
li,
button,
input {
  font-family: "Yaldevi", serif;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}

p,
li {
  font-size: 1em;
}

input {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  width: 90vw;
  border: solid var(--second);
  border-width: 0.5px;
}

button {
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 4px 3px 3px 0 rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 10px 20px;
  border-width: 0.5px;
  cursor: pointer;
}

.primary-button {
  color: white;
  border: none;
  background-color: var(--main);
}

.second-button {
  color: var(--dark);
  border-color: var(--second);
}
