@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.blocked {
  overflow-y: hidden;
}

:root {
  --font: "Yaldevi", sans serif;
  --dark: #0d1117;
  --light: #f9f6f6;
  --main: #f45f22;
  --second: #66d9e0;
  --third: #91e1a6;
  --grey: #c3c3c3;
  --template-dark: rgb(114, 37, 114, 0.2);
  --template-light: rgb(228, 211, 228, 0.5);
}

a,
h1,
h2,
h3,
p,
li,
button,
input,
label,
select,
textarea {
  font-family: "Yaldevi", serif;
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}

p,
li {
  font-size: 1em;
  text-wrap: pretty;
}

input,
select,
textarea {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  width: 90vw;
  border: solid var(--second);
  border-width: 0.5px;
}

.input-error {
  border: solid red;
  transition: all 0.1s ease-in-out;
  border-width: thin;
}

.error-message {
  font-size: 0.7em;
  color: red;
  margin: -10px 0 10px 0;
}

button {
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 4px 3px 3px 0 rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 10px 20px;
  border-width: 0.5px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.03);
}

.primary-button {
  color: white;
  border: none;
  background-color: var(--main);
}

.second-button {
  color: var(--dark);
  background-color: white;
  border-color: var(--second);
}

.dark {
  position: relative;
  background-color: rgb(41, 41, 49);
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}

.light {
  position: relative;
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}

.darkmode-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

@media (min-width: 1025px) {
  input,
  select,
  textarea {
    width: 70vw;
  }
}
