.recap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100vw;
  height: fit-content;
}

.recap-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 75%;
  height: 100vh;
  padding: 50px;
}

.month-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-selection button {
  font-size: 0.8em;
}

.month-active {
  background-color: var(--second);
}

.recap-title {
  width: 100%;
  text-align: center;
}

.subtitle {
  font-size: 1.3em;
  font-weight: 700;
}

.sport-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.sport-detail-recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-recap {
  width: 100px;
  height: 100px;
  padding: 0;
  font-size: 1em;
  background-color: var(--second);
}

.sport-detail-recap h1 {
  font-size: 1.5em;
}

.entrainement {
  font-size: 0.5em;
}

.progress-max {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.progress-container {
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 0;
  font-family: "Yaldevi", sans-serif;
  background-color: var(--second);
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  color: black;
  border-radius: 25px 0 0 25px;
  transition: width 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .recap {
    flex-direction: column;
    justify-content: space-between;
  }
  .recap-container {
    width: 100%;
  }
  .sport-list {
    justify-content: center;
  }

  .progress-max {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .recap-container {
    padding: 20px;
    margin-bottom: 50px;
  }
}
