.edit-profile-popup-light {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  background-color: var(--light);
  color: black;
  padding: 40px 20px;
  gap: 40px;
}

.edit-profile-popup-dark {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 41, 49);
  color: white;
  padding: 50px 20px;
  gap: 50px;
}

.edit-profile-title {
  line-height: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.name-input-container input {
  width: 40vw;
  font-size: 1em;
}

.label-edit {
  margin: 10px 0;
  font-size: 1em;
  font-weight: 700;
}

.button-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 10px;
}

.validate-button {
  background-color: var(--main);
  color: white;
  width: 60%;
  margin: 0 10px;
  font-size: 1em;
}

@media (max-width: 1024px) {
  .name-input-container input {
    width: 70vw;
    font-size: 0.8em;
  }
  .edit-profile-popup-light h1 {
    font-size: 1.2em;
  }
  .edit-profile-popup-dark h1 {
    font-size: 1.2em;
  }
  .validate-button {
    width: 80%;
    margin: 0;
    font-size: 0.8em;
  }
}
