#days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.days-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.days-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  width: 14.3%;
  height: 75px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.days-statut {
  font-size: 0.5em;
}

.days-number {
  font-size: 0.8em;
}

.days-day {
  font-size: 0.7em;
}

.days-monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.days-prev-button,
.days-next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0.7em;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--main);
}

.days-current-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  border-color: var(--main);
  font-size: 1em;
}

.days-statut-desktop {
  display: none;
}

.days-day-desktop {
  display: none;
}

.day-active {
  transform: scale(1.1);
}

.day-active:hover {
  transform: scale(1.1);
}

.days-button-today {
  display: none;
}

@media (min-width: 1024px) {
  .days-container {
    flex-direction: column;
    align-items: center;
  }
  .days-buttons {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    width: 80%;
    height: 40px;
  }
  .days-statut {
    display: none;
  }

  .days-number {
    font-size: 1em;
  }

  .days-day {
    display: none;
  }

  .days-statut-desktop {
    display: block;
    position: absolute;
    right: 10px;
    font-size: 0.6em;
  }
  .days-day-desktop {
    display: block;
  }
  .days-button-today {
    display: block;
    background-color: var(--main);
    margin: 30px 0;
    color: white;
    font-weight: 700;
  }
}
