.template-details-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.template-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  background-color: rgb(228, 211, 228, 0.2);
  box-shadow: 4px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.4em;
}

.card-button-validate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--second);
  color: white;
  border: none;
  font-size: 0.8em;
}

.card-type-training {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.card-time-training {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.trainingCardbutton {
  align-self: center;
}

.card-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-points {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.3em;
}

#long-button {
  box-shadow: none;
  align-self: flex-end;
}

.templatedetail-logo-type {
  font-size: 1.4em;
}

.templatedetail-title {
  font-size: 1.4em;
}

.template-details-button {
  background-color: var(--template-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: none;
  font-size: 0.8em;
}

@media (max-width: 1024px) {
  .templates-container {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1025px) {
  .template-details-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .template-details-container {
    width: 70%;
    margin: 0 20px 0 0;
  }
}
